AUTH_SECRET=

NEXT_PUBLIC_SUPABASE_URL=https://jvlhqgetxrcudcnzqhys.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SEED_USER_PASSWORD=

OPENAI_API_KEY=
AI_MODEL=gpt-5-mini

N8N_WEBHOOK_URL=
N8N_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

CLICKUP_API_TOKEN=
CLICKUP_WORKSPACE_ID=
CLICKUP_SPACE_ID=
CLICKUP_FOLDER_ID=
CLICKUP_LIST_ID=
